

body{
    max-width: 100%;
    background-color: white ;
   overflow: hidden;
}

main{
    max-width: 100%;
}
/* header */
div > .logo1{
    max-width: 285px;
    margin: 0 auto;
    margin-bottom: 5%;
    margin-top: 10%;
}

/*Deixar sem margin geradas automaticas*/
.row, .container{
    margin:  0 auto;
}

/* main */
div .interface-loguin{
    padding: 15px;
    padding-bottom: 10px !important;
    margin: 0 auto;
    background-color:#DADADA;
    border-style:hidden;
    border-radius: 17px;
    margin-bottom: 10px;
    
}

/* usuário e senha */
h1,h2{
    font-size: 1.35rem;
    font-weight:500;
}

/* usuário */
h1{
    color: rgba(43, 92, 124, 0.77) ;
}

/* senha */
h2{
   color: #C30000;
}

/* campo de texto */
.label{
    min-width: 100%;
    min-height: 50px;
    border-radius: 7px;
    border-style: solid;
}

/* Esqueceu senha | redefinir senha*/
.t1 , .esqueceu-senha {
    font-size: 0.95rem;
    font-weight:500;
    color: #1E3F54;
    display: inline;
    
}

/* criar conta */
.esqueceu-senha{
    margin-left: 10px;
    font-size: 0.93rem  !important;
} 

/* botão entrar */
.btn-primary{
    margin-top: 20px;
    color: rgb(255, 255, 255);
    background-color: #2B5C7C;
    width: 150px;
}

/* centalizar novo por aqui? | criar nova conta  */
div .botao{
    width: 150px;
    height: 70px;
    margin: 0 auto;
}

/* novo por aqui? | criar nova conta */ 
.t2 , .criar {
    font-size: 1.10rem;
    font-weight:500;
    color: #1E3F54;
    display: inline;
}

/* novo por aqui? | criar nova conta (div em que as duas estão) */
div .fora-interface{

    margin: 0 auto;
    width: 320px;
    text-align: center;
}

/* novo poe aqui */
.criar{
    margin-left: 5px;
    text-decoration: none;

}

/* footer */
footer{
    padding: 0px;
}
div > .png2{
    max-width: 80px;
}
.nuvemblue {
    width: 100%;
}

.nuvemblue img {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

div > .png1{
    max-width: 80px;
}
.nuvemred {
    width: 100%;
}
.nuvemred img {
    position: absolute;
    left: 0px;
    top: 0px;
}

@media(max-width: 320px){

    body{
        background-image: url(Fundo.png);
        max-width: 568px;
        max-height: 320px;
        overflow-y: hidden;
        overflow-x: hidden;
    }

    .Login .fora-interface{
        max-width: 99%;
        padding: 0px;
        margin: 0px;
    }

    div > .png2{
        max-width: 70px;
    }
    .nuvemblue {
        width: 100%;
    }
    
    .nuvemblue img {
        display: block;
        bottom: -44px;
    }
}