html{
    height: 50%; 
    
 }
.logo{
    max-width: 75px;
    
}
.header{

    margin-top: 10px;
    
}


.nomealarme{
width:100% ;
border-style: solid;
border-color: brown;
border-top-width: 0;
border-right-width: 0;
border-left-width: 0;
}
 ::placeholder {color: black}


.nomedoalarme{


    margin-top: 20px;
}

.soneca {

    background-color: #2B5C7C;
    margin-top: 20px;
   
}

.temposoneca{

    background-color: #5C819A ;
}

.temporario{

    margin-top: 20px;
    background-color: #5C819A ;
    
}


.notas{

    background-color: #2B5C7C;
   width: 100%;
   height: 100px;
    margin-top: 20px;
    

}

.somAlarme {

    background-color: #2B5C7C;
    margin-top: 20px;
   
}

.somdoAlarme{

    background-color: #5C819A;


}

.pasta {
    text-align: center;

    margin-top: 20px;
}

.salvar {
    text-align: center;

    margin-top: 20px;
    
    
}
#botaosalvar{
    background-color:#C30000 ;
    width: 50%;
}

.diassemana{

    border: 1px;
    border-style: solid;
    background-color: #2B5C7C;
    text-align: center;
    
}
.diassemana nav > a{

    color: white;
}


.diassemana{
    align-items: center;
    text-align: center;
}
.menu{
    text-align: center;
    align-items: center;
}

#dropdownMenuButton {

    background-color:#2B5C7C ;
}

.diassemana nav a:hover{/*Quando se passar o mouse por essa área, acontecerá o código abaixo*/
    background-color: #C30000;
}



.semanadias{
    /*display: none;*/
}


.semana{

    padding-bottom: 0px;
    padding-left: 2px;
    
    
}

h6 {
    padding-left: 22px;
}



.semana h6 {color: white;}

.fechar{
    padding: 0;

}

.botaosemana{
    color: white;
background-color: #2B5C7C;
    border-radius: 100%;
    margin-left: 5px;
    margin-right: 5px;
    border-style: none;
}

#soneca{
    background-color: #5C819A;
    border-style: none;
    
}

#soneca > option {

    color: white;
}

select{
    color: white;
}

 p{
    color: white;
}

::placeholder{

    color: white;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 24px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 10px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #C30000;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #C30000;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(25px);
    -ms-transform: translateX(25px);
    transform: translateX(25px);
  }
  
  
  .slider.round {
    border-radius: 30px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }