html{
    height: 50%; 
    
 }

.nomealarme{
width:100% ;
border-style: solid;
border-color: brown;
border-top-width: 0;
border-right-width: 0;
border-left-width: 0;
}
 ::placeholder {color:brown}


.nomedoalarme{


    margin-top: 20px;
}

.soneca {

    background-color: rgb(74, 74, 160);
}

.temposoneca{

    background-color: rgb(118, 118, 184);
}

.temporario{

    margin-top: 20px;
    background-color: rgb(118, 118, 184);
    
}