/*
Problema de rolagem
body{
    overflow: hidden;
}*/
#menuToggle{
    display: none;
}
.menu-icon{
    display: none;
}

.menu a{
    color: white;
}

.menu a:hover{
    color: white;
    background-color: #a70000;
}

@media screen and (max-width: 1600px) {
    #imgperfil img{
        margin-left: auto;
        margin-right: auto;
    }

    header .container{
        position: fixed;
        top: 0px;
        width: 100%;
    }

    .menu{
        display: flex;
        position: fixed;
        flex-wrap: wrap;
        align-content: center;
        width: 0%;
        height: 0%;
        overflow:hidden;
        background-color: #C30000;
        padding: 0px;
        margin: 0px;
        transition: width 0.3s;

    }
    .menu_area{
        margin-top: 0px !important;
    }

    .menu_area nav ul{
        margin-left: 0px;
    }

    .menu li {
        display: absolute;
        width: 100%;
        margin-left: 0px;
        margin-bottom: 20px;
    }

    .menu-icon{
        position: absolute;
        display: block;
        color:rgb(255, 255, 255);
        top: 15px;
        left: 15px;
        line-height: 60px;
        z-index: 999;
    }

    .menu-icon i{
      font-size: 2rem;  
      color: #C30000;
    }

    #menuToggle:checked ~ label i:nth-child(2){           
        position: fixed; 
        display: block;
        color: white;
    }

    #menuToggle:checked ~ label i:first-child{    
        display: none;
    }

    #menuToggle:not(checked) ~ label i:nth-child(2){
        display: none;
    }

    #menuToggle:not(checked) ~ label i:first-child{
        display: block;
    }

    #menuToggle:checked ~ ul{
        height: 100%;
        width: 70%;
        
    }
        
}

.img1{
    width: 140px;
    float: right;
}
.btnMenu{
    margin-top: 5%;
    margin-left: 3%;
    background-color: rgb(255, 255, 255);
    border-style: none;
}
.imgUsuario{
    display: flex;
    align-items: center;
    justify-content: center; 
}
.nomeUsuario{
    color: #2B5C7C;
    text-align: center;
    margin-bottom: 40px;
}
.imgusu{
    display: flex;
    align-items: center;
    justify-content: center;
}
.pastaAlarme{
    color: #C30000;
}
.f1 {
    height: 22px;
}
.f2{
    width: 100px;
}

.areapastas{
    display: flex;
    align-items: flex-end;
}

/*Parte das pasta */
.Pastas{
    max-width:94%;
    background-color: #2B5C7C;
    margin: 3%;
    padding: 5px;
    border-radius: 7px;
}

iframe{
    max-height: 100%;
    max-width: 100%;
}

.Pastas .Texto-info{
    text-align: center;
    color: rgb(179, 179, 179);
}

.div1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 8px;
}
h1{
    font-size: 1.2rem;
    display: inline;
    text-align: center;
}
h3{
    font-size: 0.8rem;
}
.btn-pasta{
    width: 30px;
    color: #C30000;
    background-color: white;
    border-style: none;
}

/*rodape*/

footer{
    background-color: #C30000;
    height: 60px;
}
.imgfooter{
    display: block;
    width: 80px;
    margin: 0 auto;
}