html{
    height: 50%; 
    
 }
.logo{
    max-width: 75px;
    margin-top: 0;
}
.header{

    margin-top: 10px;
    
}


.nomealarme{
width:100% ;
border-style: solid;
border-color: brown;
border-top-width: 0;
border-right-width: 0;
border-left-width: 0;
}
 ::placeholder {color: black}


.nomedoalarme{


    margin-top: 20px;
}

.soneca {

    background-color: #2B5C7C;
    margin-top: 20px;
   
}

.temposoneca{

    background-color: #5C819A ;
}

.temporario{

    margin-top: 20px;
    background-color: #5C819A ;
    
}


.notas{

    background-color: #2B5C7C;
   width: 100%;
   height: 100px;
    margin-top: 20px;
    

}

.somAlarme {

    background-color: #2B5C7C;
    margin-top: 20px;
   
}

.somdoAlarme{

    background-color: #5C819A;


}

.pasta {
    text-align: center;

    margin-top: 20px;
}

.salvar {
    text-align: center;

    margin-top: 20px;
    
    
}
#botaosalvar{
    background-color:#C30000 ;
    width: 50%;
}

.diassemana{

    border: 1px;
    border-style: solid;
    background-color: #2B5C7C;
    text-align: center;
    
}
.diassemana nav > a{

    color: white;
}


.diassemana{
    align-items: center;
    text-align: center;
}
.menu{
    text-align: center;
    align-items: center;
}

#dropdownMenuButton {

    background-color:#2B5C7C ;
}

.diassemana nav a:hover{/*Quando se passar o mouse por essa área, acontecerá o código abaixo*/
    background-color: #C30000;
}



.semanadias{
    /*display: none;*/
}


.semana{

    padding-bottom: 0px;
    padding-left: 2px;
    
    
}

h6 {
    padding-left: 22px;
}



.semana h6 {color: white;}



.botaosemana{
    color: white;
background-color: #2B5C7C;
    border-radius: 100%;
    margin-left: 5px;
    margin-right: 5px;
    border-style: none;
}