header{
    background-color: #C30000;
}
.logo{
    padding: 0px;
    margin: 0px;
    display: block;
    width: 150px;
    margin: 0 auto;
}
.btn-voltar{
    width: 30px;
    color: white;
    background-color: #C30000;
    border-style: none;
}
.btn-criar{
    width: 30px;
    color: #C30000;
    background-color: #ffffff;
    border-style: none;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    text-align: center;
    color: #C30000;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 60px;
    font-size: 20px;
    color: #C30000;
}
